body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
            margin: 0;
            padding: 0;
        }
html, body {
	height: 100%;
}
div {
    display: block;
}

#point {
			color: rgb(14, 74, 129);
		}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.material-icons {
	color: rgb(40, 40, 40);
}
#header {
    position: relative;
    z-index: 30;
}

    .inner {
        position: relative;
        box-sizing: border-box;
        max-width: 1200px;
        margin: 0 auto;
        z-index: 1;
        /* width: 1200px; */
    }


    #gnb {
        text-align: right;
        background: #f9f9f9;
        border-bottom: 1px solid #e0e0e0;
        font-size: 0;
    }
	@media screen and (max-width: 1337px) {
	#snb {
		display: none;
	}
}

.tit_snb {
	padding: 20px 0 0 0px;
	width: 180px;
	height: 150px;
	margin-bottom: 10px;
	border-radius: 25px;
	background: rgb(14, 74, 129);
}

.tit_snb .cate_name {
	line-height: 130px;
	font-size: 24px;
	font-weight: 800;
	color: #fff;
	text-align: center;
}

.snb_nav {
	margin-bottom: 17px;
}

.snb_nav .link_sb1 {
	display: block;
	padding: 10px;
	color: #5c5c5c;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}

.snb_nav li a:hover {
	color: rgb(14, 74, 129);
}

@media screen and (max-width: 1337px) {
	#content_box {
		float: none;
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}
}



.tit_page {
	width: 70%;
	line-height: 1;
	font-size: 35px;
	color: #000;
	font-weight: 400;
}

        #gnb a {
            position: relative;
            display: inline-block;
            padding: 0 10px;
            margin-right: 10px;
            line-height: 40px;
            font-size: 14px;
            font-weight: 600;
            color: #1d1d1d;
            text-decoration: none;
        }

            #gnb a .material-icons {
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-right: 3px;
                vertical-align: middle;
                margin-top: -15px;
            }
    
    #lnb {
        padding: 30px;
        border-bottom: 1px solid #b2bfca;
    } 


    .lnb_nav {
        text-align: center;
    }

    .lnb_nav_dep1 {
        margin-right: -180px;
    }

    .lnb_nav_dep1 li{
        float: left;
    }

    h1 {
        position: absolute;
        left: 0;
        z-index: 1;
       
        
    }
    h1 a {
    	text-align: left;
    	margin-top: 7px;
        display: block;
        width: 200px;
        height: 55px;
        text-decoration: none;
        position: absolute;
        color: rgb(14, 74, 129);
    }

    .lnb_nav_dep1 {
        display: inline-block;
    }
    
    dl, ul, ol, menu, li {
        list-style: none;
    }

    .lnb_nav_dep1 li {
        float: left;
    }
    .lnb_nav_dep1 li a:hover{
        color: rgb(14, 74, 129);
    }
    .btn_lnb_dep1 {
        display: inline-block;
        margin: 0 70px;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        color: #1d1d1d;
    }
#container {
	min-height: 74%;
    position: relative;
    height: auto;
    overflow: hidden;
}

#content.sub {
	padding: 60px 0;
}
.inner2 {
		position: relative;
		max-width: 1600px;
		margin: 0 auto;
		z-index: 1;
	}

#snb {
	float: left;
	width: 250px;
	margin-right: 50px;
}
@media screen and (max-width: 1337px) {
	#snb {
		display: none;
	}
}

.tit_snb {
	padding: 20px 0 0 0px;
	width: 180px;
	height: 150px;
	margin-bottom: 10px;
	border-radius: 25px;
	background: rgb(14, 74, 129);
}

.tit_snb .cate_name {
	line-height: 130px;
	font-size: 24px;
	font-weight: 800;
	color: #fff;
	text-align: center;
}

.snb_nav {
	margin-bottom: 17px;
}

.snb_nav .link_sb1 {
	display: block;
	padding: 10px;
	color: #5c5c5c;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}

.snb_nav li a:hover {
	color: rgb(14, 74, 129);
}

@media screen and (max-width: 1337px) {
	#content_box {
		float: none;
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}
}

#content_box {
	float: left;
	width: 950px;
}

#content_box .notice_page_title {
	position: relative;
	padding: 40px 0;
	border-bottom: 1px solid #ccc;
}

#content_box .notice_page_title .tit_page {
	line-height: 1;
    font-size: 35px;
    color: #000;
    font-weight: 400;
}
