body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
    margin: 0;
    padding: 0;
}
	.col, .col2{
    position: 400px;
    min-height: 1px;
    box-sizing: border-box;
    float: left;
	}
	
	.col {
	width: 400px;
	}
	.col2 {
	width: 620px;
	}
	
    #main_visual {
        position: relative;
        height: 480px;
        background: #f3f4f7; 
    }
    #main_visual .inner {
        height: 100%;
       
    }
        #main_visual .visual_arrow .arrow_prev  {
            left: 0;
            background: url("img/btn_mainvisual_prev.png") no-repeat 50%;
            
        }

        #main_visual .visual_arrow .arrow_next {
            right: 0;
            background: url("img/btn_mainvisual_next.png") no-repeat 50%;
        }


            #main_visual .visual_arrow a {
                position: absolute;
                top: 50%;
                margin-top: -42px;
                display: block;
                width: 84px;
                height: 84px;
                z-index: 10;
            }

        #main_visual .visual_bg1 {
            background: url("img/@bg_mainvisual1.jpg") no-repeat 50%;
        }

        #main_visual .block_visual {
            display: inline-block;
            text-align: left;
            margin-left: -442px;
            
        }

        #main_visual .visual_bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            display: none;
        }
    
          .main_top {
            margin-top: -50px;
            margin-bottom: 50px;
           
        }  


        .fl_c:after {
            display: block;
            clear: both;
            content: "";
        }

            .main_reservation {
                padding: 40px;
                height: 260px;
                background: rgb(14, 74, 129);
            }

                .main_reservation .tit_main {
                    padding: 0;
                    margin-bottom: 25px;
                    font-size: 28px;
                    color: #fff;
                    text-align: center;
                    line-height: 1;
                }
                
                        .main_reservation .ico_wrap div {
                            float: left;
                        }
                            .margin {
                                margin-right: 20px;
                            }

                            .main_reservation .ico_wrap div div {
                                margin-top: -10px;
                                width: 150px;
                                height: 150px;
                                border-radius: 50%;
                                background-color: #fff;
                            }
                            .main_reservation .ico_wrap div a {
                                line-height: 150px;
                                display: block;
                                text-align: center;
                                text-decoration: none;
                                font-size: large;
                                font-weight: bold;
                                color: rgb(14, 74, 129);
                            }

            .main_real_cons {
                padding: 40px;
                position: relative;
                height: 260px;
                background: rgb(17, 123, 191);
                overflow: hidden;
            }
            .main_real_cons2 {
            	padding: 40px;
                position: relative;
                height: 260px;
            	background: rgb(52, 152, 219);
                overflow: hidden;
            }
                .main_real_cons .tit_main {
                    padding: 0;
                    margin-bottom: 10px;
                    font-size: 28px;
                    color: #fff;
                    text-align: center;
                    line-height: 1;
                }
                .main_real_cons .txt_main {
                    position: relative;
                    padding: 0;
                    padding-bottom: 10px;
                    font-size: 16px;
                    color: #fff;
                    text-align: center;
                    line-height: 1.5;
                }

                .main_real_cons2 .tit_main {
                    padding: 0;
                    margin-bottom: 10px;
                    font-size: 28px;
                    color: #fff;
                    text-align: center;
                    line-height: 1;
                }
                .main_real_cons2 .txt_main {
                    position: relative;
                    padding: 0;
                    padding-bottom: 10px;
                    font-size: 16px;
                    color: #fff;
                    text-align: center;
                    line-height: 1.5;
                } 
                    
                    .btn1 {
                        display: inline-block;
                        border-radius: 2px;
                        padding: 7px 20px;
                        margin: 2px 0;
                        box-sizing: border-box;
                        cursor: pointer;
                        border: 1px solid rgb(52, 152, 219);
                        background: rgb(52, 152, 219);
                        vertical-align: middle;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 400;
                        color: #fff;
                    }

                    .btn_blue1 {
                            color: #fff;
                            background: rgb(52, 152, 219);
                            border: 1px rgb(52, 152, 219);
                    }
                    .btn_blue2 {
                            color: #fff;
                            background: rgb(17, 123, 191);
                            border: 1px rgb(17, 123, 191);
                    }

            .real_treat_status {
                padding: 40px;
                height: 260px;
                background: rgb(57, 154, 220);
            }

                .real_treat_status .tit_main {
                    padding: 0;
                    margin-bottom: 15px;
                    font-size: 28px;
                    color: #fff;
                    text-align: center;
                    line-height: 1;
                }

                .real_treat_status .txt_main {
                    position: relative;
                    padding: 0;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    font-size: 16px;
                    color: #fff;
                    text-align: center;
                    line-height: 1.5;
                }

                    .real_treat_status .btn_real_treat_status {
                        margin-top: -15px;
                         margin-left: -20px;
                    }


                    .real_treat_status .btn_real_treat_status li {
                         padding: 3px;
                         box-sizing: border-box;
                    }
                        .online_res {
                            width: 100%;
                        }


                        .real_treat_status .btn_real_treat_status a {
                            display: block;
                            border-radius: 3px;
                            box-sizing: border-box;
                            text-align: center;
                            width: 100%;
                            color: #fff;
                            padding: 7px 0;
                            border: 1px solid rgb(17, 123, 191);
                            background: rgb(17, 123, 191);
                            text-decoration: none;
                        }



.main_board { padding:50px 0 50px;  }
.main_board:after { content:""; clear:both; display:block;}
.main_board .main_bottom { margin:0 -20px;}
.main_board .main_bottom .main_bottom_item { padding:0 20px;}
.main_treatInfo { padding:30px 40px; background: rgb(246, 246, 246);}
.tit_treatInfo { font-size: 27px; font-weight:700; color:#000;  }
.treat_top{font-size:18px; color:#000;  margin-bottom: 5px;}
.treat_top .top_left{ width:20%; float: left; margin-top: 5px;}
.treat_top .top_right{width:80%; float: left; font-size: 20px; font-weight:500;}
.treat_top #t1{ color:red;}
.treat_bottom{font-size:18px; color:#000;  margin-top: 70px; font-weight:500;}
.treat_bottom .bottom_left{ width:20%; float: left;}
.treat_bottom .bottom_right{ width:80%; float: left; font-size: 42px;}

.main_notice {
    background: rgb(246, 246, 246);
    padding: 30px 40px;
}
.cont_bbs a{
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.bbs_subject {
	float: left;
	height: 40px;
}
.bbs_date {
	float: right;
	height: 40px;
}
.tit_notice { position:relative; font-size:27px; color:#000; font-weight:700; }
.main_notice .btn_goto_board{
    position: absolute;
    top: 30px;
    right: 50px;
    z-index: 1;
    display: block;
    width: 33px;
    height: 33px;
    background: #fff url("img/ico_main_more.png") no-repeat 50%;
    border: 1px solid #a5a5a5;
}