@charset "UTF-8";
.section {
	margin-top: 50px;
}

.bbs {
	position: relative;
	margin-bottom: 40px;
}

.bbs table {
	width: 100%;
	border-top: 1px solid #343434;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

thead {
	background: rgb(237, 237, 237);
	height: 50px;
	border-bottom: 2px solid #c2c2c2;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.bbs_ table th, .bbs table td {
	padding: 15px 20px;
	border-bottom: 1px solid #c2c2c2;
	font-size: 16px;
}

.bbs table .space {
	background: #fdfdfd;
}

.bbs table td* {
	vertical-align: middle;
}

.ta {
	text-align: center;
}

.paging{
	
	margin-top: 20px;
	padding: 20px 0;
    font-size: 0;
    text-align: center;
    width: 100%;
}


.on{
	
	width:50px;
	height:50px;
	border: 1px solid rgb(237, 237, 237);
	background: rgb(237, 237, 237);
	cursor:pointer;	
	color: black;
}



.on1{
	margin-left: 15px;
	width:50px;
	height:50px;
	border: 1px solid rgb(237, 237, 237);
	background: rgb(237, 237, 237);
	cursor:pointer;
	color: black;
}

.on2{
	margin-left: 15px;
	width:50px;
	height:50px;
	border: 1px solid rgb(237, 237, 237);
	background: rgb(237, 237, 237);
	cursor:pointer;	
	color: black;
}


.on:hover{
	background:rgb(14, 74, 129); 
 	color: #fff;
}

 .on1:hover{ 
 	background:rgb(14, 74, 129); 
 	color: #fff;
 } 

 .on2:hover{ 
 	background:rgb(14, 74, 129); 
 	color: #fff;
 } 