<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatMapper">
	<resultMap type="ChatRoom" id="chatRoomResultSet">
		<id property="roomid" column="ROOM_ID" />
		<result property="reg_date" column="REG_DATE" />
		<result property="name" column="NAME" />
		<result property="phone" column="PHONE" />
		<result property="content" column="CONTENT" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="recv_mem" column="RECV_MEM" />
		<result property="send_mem" column="SEND_MEM" />
		<result property="isReading" column="ISREADING" />
	</resultMap>
	
	<!-- 비회원 채팅상담 메시지 작성 -->
	<insert id="insertChatroom" parameterType="ChatRoom">
		INSERT INTO CHAT VALUES(SEQ_CHATROOM.NEXTVAL, DEFAULT, #{name}, #{phone},
		#{content}, NULL, 'admin', #{send_mem}, 'N')
	</insert>

	<!-- 회원 채팅상담 메시지 작성 -->
	<insert id="insertMemChatroom" parameterType="ChatRoom">
		INSERT INTO CHAT VALUES(SEQ_CHATROOM.NEXTVAL, DEFAULT, #{name}, #{phone},
		#{content}, #{memberId}, 'admin', #{send_mem}, 'N')
	</insert>

	<!-- 관리자 채팅상담 메시지 작성 -->
	<insert id="insertChatAdroom" parameterType="ChatRoom">
		INSERT INTO CHAT VALUES(SEQ_CHATROOM.NEXTVAL, DEFAULT, #{name}, #{phone},
		#{content}, #{memberId}, #{recv_mem}, 'admin' ,'N')
	</insert>
	
	<!-- 관리자 채팅상담 리스트 조회 -->
	<select id="ListView" parameterType="String"
		resultMap="chatRoomResultSet">
		SELECT *
		FROM
		(SELECT NAME, MEMBER_ID, CONTENT, REG_DATE,
		RECV_MEM, SEND_MEM, ISREADING,
		RANK() OVER (PARTITION BY NAME, MEMBER_ID ORDER BY
		REG_DATE DESC) AS rank
		FROM CHAT
		)
		WHERE rank = 1
	</select>

	<!-- 회원 채팅상담 리스트 조회 -->
	<select id="getHisList" parameterType="String"
		resultMap="chatRoomResultSet">
		<!-- SELECT * FROM CHAT ORDER BY REG_DATE ASC -->
		SELECT * FROM CHAT ORDER BY REG_DATE ASC
	</select>

	<!--관리자 채팅상담 리스트 상세조회 -->
	<select id="ChatView" resultMap="chatRoomResultSet">
		SELECT *
		FROM CHAT
		WHERE NAME = #{name} 
		UNION
		SELECT *
		FROM CHAT
		WHERE NAME = 'admin'
	</select>
	
	<update id="updateIsReading">
		UPDATE CHAT SET isReading = 'Y' WHERE NAME = #{name}
	
	</update>

</mapper>