<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HistoryMapper">
	<resultMap type="History" id="historyResultMap">
		<id property="doctorId" column="DOCTOR_ID"></id>
		<result property="resNo" column="RES_NO"></result>
		<result property="resName" column="RES_NAME"></result>
		<result property="deptDate" column="DEPT_DATE"></result>
		<result property="department" column="DEPARTMENT"></result>
		<result property="deptContents" column="DEPT_CONTENTS"></result>
		<result property="prescription" column="PRESCRIPTION"></result>
		<result property="charge" column="CHARGE"></result>
		<result property="memberId" column="MEMBER_ID"></result>
	</resultMap>
	
	<insert id="insertHistory" parameterType="History">
		INSERT INTO MHIS VALUES(#{doctorId}, SEQ_RES_NO.NEXTVAL, #{resName}, 
		#{deptDate}, #{department}, #{deptContents}, #{prescription}, #{charge})
	</insert>
	
	<select id="selectListCount" resultType="_int">
		<!-- 1개면 가져오면 resultType -->
		SELECT COUNT(*) FROM MHIS
	</select>
	<select id="selectAllList" resultMap="historyResultMap">
		<!-- 여러개 가져오면 resultType -->
		SELECT * FROM MHIS ORDER BY RES_NO
	</select>
	<select id="selectOneByNo" resultMap="historyResultMap">
		SELECT * FROM MHIS WHERE RES_NO = #{resNo}
	</select>
	
	<update id="updateHistory">
		UPDATE MHIS SET 
		DOCTOR_ID = #{doctorId}, RES_NAME = #{resName}, DEPT_DATE = #{deptDate}, 
		DEPARTMENT = #{department}, DEPT_CONTENTS = #{deptContents}, 
		PRESCRIPTION = #{prescription}, CHARGE = #{charge}
		WHERE RES_NO =#{resNo}
	</update>
	
	<select id="selectHistoryById" resultMap="historyResultMap">
	 	SELECT * FROM MHIS WHERE MEMBER_ID = #{memberId} 
	</select>
	
</mapper>