<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ResMapper">
    <resultMap type="Res" id="resResultMap">
        <id property="resNo" column="RES_NO" />
        <result property="resMemId" column="RES_MEMID" />
        <result property="resName" column="USER_NAME" />
        <result property="birth" column="USER_BIR" />
        <result property="phone" column="USER_PHONE" />
        <result property="department" column="DEPARTMENT" />
        <result property="deptStaff" column="DEPT_STAFF" />
        <result property="deptDate" column="DEPT_DATE" />
        <result property="deptTime" column="DEPT_TIMEDATE" />
        </resultMap>
    <insert id="insertRes" parameterType="Res">
     	INSERT INTO RES VALUES('R'||TO_CHAR(SYSDATE,'YYMMDD')||SEQ_RES_NO.NEXTVAL,NULL,#{resName}, #{birth}, #{phone}, #{department}, #{deptStaff}, #{deptDate}, #{deptTime})
    </insert>
    <insert id="insertResId" parameterType="Res">
        INSERT INTO RES VALUES('R'||TO_CHAR(SYSDATE,'YYMMDD')||SEQ_RES_NO.NEXTVAL,#{resMemId}, #{resName}, #{birth}, #{phone}, #{department}, #{deptStaff}, #{deptDate}, #{deptTime})
    </insert>
    <select id="selectViewRes" resultMap="resResultMap"> 
    	SELECT * FROM RES WHERE USER_NAME =#{resName} AND USER_PHONE =#{phone} AND USER_BIR = #{birth}
    </select> 
	<delete id="deleteReservation" parameterType="Res">
		DELETE FROM RES WHERE USER_NAME =#{resName} AND USER_PHONE =#{phone} AND USER_BIR = #{birth}
	</delete>
    <select id="selectOneByRes" parameterType="Res" resultMap="resResultMap">
		SELECT * FROM RES WHERE RES_MEMID = #{resMemId} AND RES_NO = (SELECT MAX(RES_NO) FROM RES WHERE RES_MEMID = #{resMemId})
	</select>
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM RES WHERE DEPT_DATE > SYSDATE - 1
	</select>
	<select id="selectAllList" resultMap="resResultMap">
		SELECT * FROM RES WHERE DEPT_DATE > SYSDATE - 1 ORDER BY DEPT_DATE DESC
	</select>
 </mapper>