@charset "UTF-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
	form, fieldset, legend, textarea, p, blockquote, th, td, input, select,
	textarea, button {
	margin: 0;
	padding: 0;
}

div {
    display: block;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} 

.col, .col2{
	float: left;
    position: 400px;
    min-height: 1px;
    box-sizing: border-box;
}

.col {
    width: 400px;
}

.col2 {
    width: 600px;
}

#header {
    position: relative;
    width: 1920px;
    z-index: 30;
}


    .inner {
        position: relative;
        box-sizing: border-box;
        max-width: 1200px;
        margin: 0 auto;
        z-index: 1;
    }


    #gnb {
        text-align: right;
        background: #f9f9f9;
        border-bottom: 1px solid #e0e0e0;
        font-size: 0;
    }

        #gnb a {
            position: relative;
            display: inline-block;
            padding: 0 10px;
            margin-right: 10px;
            line-height: 40px;
            font-size: 14px;
            font-weight: 600;
            color: #1d1d1d;
            text-decoration: none;
        }

            #gnb a .material-icons {
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-right: 3px;
                vertical-align: middle;
                margin-top: -15px;
            }
    
    #lnb {
        padding: 30px;
        border-bottom: 1px solid #b2bfca;
    } 


    .lnb_nav {
        text-align: center;
    }

    .lnb_nav_dep1 {
        margin-right: -180px;
    }

    .lnb_nav_dep1 li{
        float: left;
    }

    h1 {
        position: absolute;
        left: 0;
        z-index: 1;
       
        
    }
    h1 a {
    	text-align: left;
    	margin-top: 7px;
        display: block;
        width: 200px;
        height: 55px;
        text-decoration: none;
        position: absolute;
        color: rgb(14, 74, 129);
    }

    .lnb_nav_dep1 {
        display: inline-block;
    }
    
    dl, ul, ol, menu, li {
        list-style: none;
    }

    .lnb_nav_dep1 li {
        float: left;
    }
    .lnb_nav_dep1 li a:hover{
        color: rgb(14, 74, 129);
    }
    .btn_lnb_dep1 {
        display: inline-block;
        margin: 0 70px;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        color: #1d1d1d;
    }
#container {
    position: relative;
}

#content.sub {
	padding: 60px 0;
}
.inner2 {
		position: relative;
		max-width: 1560px;
		margin: 0 auto;
		z-index: 1;
	}

#snb {
	float: left;
	width: 250px;
	margin-right: 50px;
}

@media screen and (max-width: 1337px) {
	#snb {
		display: none;
	}
}

.tit_snb {
	padding: 20px 0 0 0px;
	width: 180px;
	height: 150px;
	margin-bottom: 10px;
	border-radius: 25px;
	background: rgb(14, 74, 129);
}

.tit_snb .cate_name {
	line-height: 130px;
	font-size: 24px;
	font-weight: 800;
	color: #fff;
	text-align: center;
}

.snb_nav {
	margin-bottom: 17px;
}

.snb_nav .link_sb1 {
	display: block;
	padding: 10px;
	color: #5c5c5c;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}

.snb_nav li a:hover {
	color: rgb(14, 74, 129);
}

@media screen and (max-width: 1337px) {
	#content_box {
		float: none;
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}
}

#content_box {
	float: left;
	width: 1100px;
}

#content_box .notice_page_title {
	position: relative;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.tit_page {
	width: 70%;
	line-height: 1;
	font-size: 35px;
	color: #000;
	font-weight: 400;
}

.section {
	margin-top: 50px;
}

.bbs {
	position: relative;
	margin-bottom: 40px;
}

.bbs table {
	width: 100%;
	border-top: 1px solid #343434;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

.ta_t {
	padding: 15px 20px;
	text-align: center;
	border-bottom: 1px solid #c2c2c2;
}

tr {
	display: table-row;
	border-color: inherit;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.bbs_ table th, .bbs table td {
	padding: 15px 20px;
	border-bottom: 1px solid #c2c2c2;
	font-size: 16px;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.tl {
	text-align: left !important;
}

.t_da {
	padding: 0 12px;
}

.t_da strong {
	padding-right: 10px;
}

.t2 {
	text-align: right;
}

.t3 {
	width: 100%;
	border-bottom: 1px solid #c2c2c2;
}

.bbs_content {
	height: 300px;
	vertical-align: top;
	border-bottom: 2px solid #ccc;
}


.list_btn {
	margin-top: 20px;
	float: right;
}

#list_l {
	height: 40px;
	display: inline-block;
	border-radius: 2px;
	padding: 10px 25px;
	box-sizing: border-box;
	cursor: pointer;
	background: rgb(60, 60, 60);
	text-decoration: none;
	color: #fff;
}